.archive-year:not(:last-of-type) {
  border-bottom: 2px solid $post-border-color;
}

.archive-year-header sup {
  top: -1rem;
}

.archive-month {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
}

.archive-month-header {
  margin: 1.5rem 0;
  width: 200px;
}

.archive-month:not(:last-of-type) {
  border-bottom: 1px solid $post-border-color;
}

.archive-entry {
  position: relative;
  padding: 0.5rem;
  margin: 1rem 0;
}

.archive-entry-title {
  margin: 0.5rem 0;
  font-weight: 400;
}

.archive-count,
.archive-meta {
  color: $post-secondary-color;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  /* archive */
  .archive-month {
      flex-direction: column;
  }
}
